#gradle
.gradle
gradle/
gradlew
gradlew.bat

#forge
CREDITS-fml.txt
LICENSE-fml.txt
MinecraftForge-Credits.txt
MinecraftForge-License.txt
Paulscode IBXM Library License.txt
Paulscode SoundSystem CodecIBXM License.txt
README.txt
build/
eclipse/
forge-*-changelog.txt
logs/
run/
src/main/java/com/

#intellij
wakcraft.iml
wakcraft.ipr
wakcraft.iws
